@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    margin: auto;
    max-width: 50%;
    background-color: #ce2829;
    border-radius: 50%;
  }
  
  .success h2 {
    text-align: center;
    margin-top: 3rem;
    color: white;
    font-size: 36px;
    font-family: Satisfy;
  }
  
  .success p {
    text-align: center;
    color: white;
   
  }
  
  .lezzet p{
    font-family:('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');;
    font-size: 2.5rem;
    margin-top: 1rem;
    font-family: Satisfy;
    color: #105b0f !important;
  }

  
.onay-container h2{
  display: flex;
  justify-content: center;
  margin: auto;
}

.onay-down{
  margin-bottom: 0.4rem;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

.last-container{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.return-home{
  padding-top: 4rem;
}
